# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Données
*.npz
*.npy
*.fits
data/
catalogs/

# Expériences & Modèles
*.pt
*.pth
*.ckpt
experiments/
logs/
*.png
*.jpg
*.jpeg
*.pdf
cfm_v1/
models_weights/
(outdated)/

# Environnement & Config locale
.env
.env.*
venv/
.venv/
.vscode/
.idea/

# OS / sauvegardes locales
.DS_Store
.git-nested-*-backup/
redshift.bundle
