# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Données
*.npz
*.npy
*.fits
data/
catalogs/

# Expériences & Modèles
*.pt
*.pth
*.ckpt
experiments/
logs/
*.log
*.png
*.jpg
*.jpeg
*.pdf

# Environnement & Config locale
.env
.env.*
venv/
.venv/
.vscode/
.idea/

# OS
.DS_Store
